# =========================
# C++ / ROS2 编译产物
# =========================
build/
install/
log/
*.o
*.a
*.so.debug

# =========================
# Python 编译、缓存与打包产物
# =========================
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
dist/
.pytest_cache/

# 忽略 Python 运行时的本地 lib 拷贝（因为我们在 setup.py 里做了自动搬运，
# 真正的库文件在仓库根目录的 rysen_sdk/lib 下保存，这里不需要重复提交）
python/lib

# =========================
# 操作系统与 IDE 缓存
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo

# =========================
# ⚠️ 明确保留项（防误杀）
# =========================
# 强制 Git 追踪 rysen_sdk 下的动态库，即使前面有忽略规则也不生效
!rysen_sdk/lib/**/*.so*

# Docker 文件（不相关的docker文件）
docker/docker-compose.arm64.pi.yml
docker/Dockerfile.cross_arm64

# .tar文件（Docker images）
*.tar